<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Control</key>
	<dict>
		<key>电源</key>
		<integer>102</integer>
		<key>前一个频道</key>
		<integer>135</integer>
		<key>后一个频道</key>
		<integer>103</integer>
		<key>减小音量</key>
		<integer>104</integer>
		<key>增大音量</key>
		<integer>136</integer>
	</dict>
	<key>Channel</key>
	<dict>
		<key>翡翠台</key>
		<integer>101</integer>
		<key>华娱卫视</key>
		<integer>102</integer>
		<key>星空卫视</key>
		<integer>200</integer>
		<key>凤凰资讯台</key>
		<integer>200</integer>
		<key>凤凰电影台</key>
		<integer>200</integer>
		<key>凤凰卫视</key>
		<integer>200</integer>
		<key>海峡卫视</key>
		<integer>200</integer>
		<key>西藏卫视</key>
		<integer>200</integer>
		<key>新疆卫视</key>
		<integer>200</integer>
		<key>内蒙古卫视</key>
		<integer>200</integer>
		<key>甘肃卫视</key>
		<integer>200</integer>
		<key>青海卫视</key>
		<integer>200</integer>
		<key>宁夏卫视</key>
		<integer>200</integer>
		<key>黑龙江卫视</key>
		<integer>200</integer>
		<key>河北卫视</key>
		<integer>200</integer>
		<key>贵州卫视</key>
		<integer>200</integer>
		<key>陕西卫视</key>
		<integer>200</integer>
		<key>湖北卫视</key>
		<integer>200</integer>
		<key>辽宁卫视</key>
		<integer>200</integer>
		<key>天津卫视</key>
		<integer>200</integer>
		<key>云南卫视</key>
		<integer>200</integer>
		<key>山西卫视</key>
		<integer>200</integer>
		<key>吉林卫视</key>
		<integer>200</integer>
		<key>旅游卫视</key>
		<integer>200</integer>
		<key>中国教育台</key>
		<integer>200</integer>
		<key>四川卫视</key>
		<integer>200</integer>
		<key>广西卫视</key>
		<integer>200</integer>
		<key>东南卫视</key>
		<integer>200</integer>
		<key>重庆卫视</key>
		<integer>200</integer>
		<key>河南卫视</key>
		<integer>200</integer>
		<key>江西卫视</key>
		<integer>200</integer>
		<key>江苏卫视</key>
		<integer>200</integer>
		<key>山东卫视</key>
		<integer>200</integer>
		<key>北京卫视</key>
		<integer>200</integer>
		<key>浙江卫视</key>
		<integer>200</integer>
		<key>安徽卫视</key>
		<integer>200</integer>
		<key>东方卫视</key>
		<integer>200</integer>
		<key>湖南卫视</key>
		<integer>200</integer>
		<key>南方影视频道</key>
		<integer>200</integer>
		<key>南方综艺频道</key>
		<integer>200</integer>
		<key>南方都市频道</key>
		<integer>200</integer>
		<key>南方经济频道</key>
		<integer>200</integer>
		<key>嘉佳卡通频道</key>
		<integer>200</integer>
		<key>广东新闻频道</key>
		<integer>200</integer>
		<key>广东公共频道</key>
		<integer>200</integer>
		<key>广东体育频道</key>
		<integer>200</integer>
		<key>广东珠江频道</key>
		<integer>200</integer>
		<key>广东卫视</key>
		<integer>200</integer>
		<key>CCTV音乐</key>
		<integer>200</integer>
		<key>CCTV少儿</key>
		<integer>200</integer>
		<key>CCTV新闻</key>
		<integer>200</integer>
		<key>CCTV12</key>
		<integer>200</integer>
		<key>CCTV11</key>
		<integer>200</integer>
		<key>CCTV10</key>
		<integer>200</integer>
		<key>CCTV9</key>
		<integer>200</integer>
		<key>CCTV8</key>
		<integer>200</integer>
		<key>CCTV7</key>
		<integer>200</integer>
		<key>CCTV6</key>
		<integer>200</integer>
		<key>CCTV5</key>
		<integer>200</integer>
		<key>CCTV4</key>
		<integer>200</integer>
		<key>CCTV3</key>
		<integer>200</integer>
		<key>CCTV2</key>
		<integer>200</integer>
		<key>CCTV1</key>
		<integer>200</integer>
		<key>深视公共频道</key>
		<integer>200</integer>
		<key>深视少儿频道</key>
		<integer>200</integer>
		<key>深视体育健康频道</key>
		<integer>200</integer>
		<key>深视娱乐频道</key>
		<integer>200</integer>
		<key>深视财经生活频道</key>
		<integer>200</integer>
		<key>深视都市频道</key>
		<integer>200</integer>
		<key>深圳卫视</key>
		<integer>200</integer>
		<key>深视电视剧频道</key>
		<integer>200</integer>
	</dict>
</dict>
</plist>
